*{
    margin: 0;
    padding: 0;
}

.about{
   width: 100%;
   /* background: linear-gradient(rgba(0,0,0,0.3)100%,rgba(0,0,0,0.3)100%), url(image/travel-concept-with-landmarks.jpg); */
   background-color: #161922;
   background-size: cover;
   background-position: center;
   height: 100vh;
   background-color: #161922;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.about .content img{
      height: auto;
      width: 300px;
      max-width: 100%;
      /* float: left;
      justify-content: left;
   align-items: left; 
   padding-right: 500px; */
}

.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content{
    width: 1280px;
    max-width: 95%;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-around;
}

.text h1{
    color:  #ffcc74;
    font-size: 55px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text h2{
    color: white;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

button{
    background-color: #ffcc74;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
}

button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid #ffcc74;
    color: #ffcc74;
    transition: .4s;
    cursor: pointer;
}

@media screen and (max-width: 1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}

@media screen and (max-width: 650px) {
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}












