*{
    margin: 0;
    padding: 0;
}

.head
{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(image/FB_IMG_1654962165213.jpg);
    background-size: cover;
    background-position: center;
    height: 109vh;
}

h1
{
    font-family: 'Calibri';
    font-size:65px;
    color: rgb(243, 241, 239);
}

.main
{
    font-size: 40px;
    font-family: 'Times New Roman';
    color: aqua;
    float: left;
    padding-left: 55px;
    margin-top: 55px;
    line-height: 70px;
}
.icons a{
    text-decoration: none;
    color: #fff;
}

.icons ion-icon{
   color: rgb(236, 241, 241);
   font-size: 90px;
   padding-left: 20px;
   padding-top: 5px;
   transition: 0.3s ease;
   float: left;
   margin-top: 450px;
}

.icons ion-icon:hover{
   color: #ff7200;
}
@media screen and (max-width: 1180px) {
    .head
    {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .main
    {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
    .icons
    {
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
